<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.mapper.NewsInfoMapper">

    <!-- resultMap最终还是要将结果映射到pojo上，type就是指定映射到哪一个pojo -->
    <!-- id：设置ResultMap的id,</select>配置中需要用到此id值-->
    <resultMap type="com.neusoft.po.NewsInfo" id="newsInfoMap">
        <!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id(注：主键只可能有一个，但一个主键可以由多个字段组成) -->
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id column="newsno" property="newsno" />
        <!-- 定义普通属性 -->
        <result column="news_title" property="news_title"/>

        <!-- association ：配置一对一属性，从查询NewsInfo信息出发关联查询Author信息为一对一查询 -->
        <!-- property:NewsInfo里面的author属性名 -->
        <!-- javaType:属性类型 -->
        <association property="author" javaType="com.neusoft.po.Author">
            <result column="authorname" property="authorname"/>
        </association>

        <association property="type" javaType="com.neusoft.po.NewsType">
            <result column="news_typename" property="news_typename"/>
        </association>
    </resultMap>

<!--    id="对应mapper层（或称DAO层）中的方法名“   resultMap=”</resultMap>配置中的id值“-->
    <select id="findnewsInfoMap" resultMap="newsInfoMap">
        select i.newsno,i.news_title,a.authorname,t.news_typename from news_info i,
        news_author a,news_type t where i.news_author=a.authorid and i.news_type=t.news_typeid
    </select>

</mapper>
